@model IEnumerable<LeaveManager.Models.DeliveryManagerLeaveRequestViewModel>

@{
    ViewBag.Title = "DeliveryManager - Review Requests";
}

<h2>DeliveryManager - Review Requests</h2>

<p>
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.leaveReason.leaveReasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.employeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.allDayEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.deliveryManager.employeeName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.deliveryManagerComment)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.LeaveRequestId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.leaveReason.leaveReasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.employeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allDayEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.deliveryManager.employeeName)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.deliveryManagerComment)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.LeaveRequestId)
        </td>*@
        <td>
            @Html.ActionLink("Process Request", "ProcessRequest", new { id=item.LeaveRequestId }) |
            
        </td>
    </tr>
}

</table>
