@model LeaveManager.Models.DeliveryManagerLeaveRequestViewModel

@{
    ViewBag.Title = "Delivery Manager - Process Request";
}

<h2>ProcessRequest</h2>
<br />
<b>@Html.DisplayNameFor(model => model.employee.employeeName): </b>@ViewData["employeeName"]<br /><br />
<b>@Html.DisplayNameFor(model => model.allDayEvent): </b>@ViewData["allDay"]<br /><br />
<b>@Html.DisplayNameFor(model => model.startTime): </b>@ViewData["startDate"]<br /><br />
<b>@Html.DisplayNameFor(model => model.endTime): </b>@ViewData["endDate"]<br /><br />
<b>@Html.DisplayNameFor(model => model.leaveReason): </b>@ViewData["leaveReason"]<br /><br />
<b>@Html.DisplayNameFor(model => model.Description): </b>@ViewData["description"]<br /><br />
<br />
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LeaveRequestId)



        <div class="form-group">
            @Html.LabelFor(model => model.deliveryManagerComment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.deliveryManagerComment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.deliveryManagerComment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deliveryManagerStatusID, htmlAttributes: new { @class = "control-label col-md-2" })


            <div>
                <label class="checkbox-inline"><input type="radio" name="status" value="Approved">Approve</label>
                <label class="checkbox-inline"><input type="radio" name="status" value="Denied">Deny</label>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
